body {
    background: linear-gradient(#ccc, #fff);
    font-size: 15px;
    font-family: 'DejaVu Sans', 'Open Sans', sans-serif;
    padding: 20px;
}

.letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 700px;
    padding: 35px;
    position: relative;
    width: 80%;
}

.letter:before, .letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

.letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
    }

.color-line {
    border: none;
    height: 3px;
    margin-bottom: 40px;
    background: linear-gradient(
        to right,
        #e7762a 0% 20%,
        #304a96 20% 40%,
        #ddda45 40% 60%,
        #3d9c46 60% 80%,
        #e02826 80% 100%
    );
}
